@page "/experiment2020"
@using BrctcSpace;
@using BlazorWebSpaceTool.Components;
@using System.Threading;
@inject Vibe.VibeClient vibeClient;

<h3>Experiment2020</h3>

<div><input type="checkbox" @bind-value="isChecked">Continuous Data</div>
<button disabled="@isRunning" @onclick="GetLotsOfData" class="btn btn-primary">Gather all Async Data</button>
<br />

<button disabled="@isRunning" @onclick="GetResult" class="btn btn-primary">Get Data</button>

<button disabled="@(!isRunning)" @onclick="CancellationToken.Cancel" class="btn btn-primary">Cancel Stream</button>

<Vibe2020ResultList Items="Results" />

    <GenericListTable Items="OtherResults">
        <TableHeader>
            <th>Accelerometer</th>
            <th>Gyroscope</th>
            <th>Cpu Temp</th>
            <th>Transaction Timestamp</th>
        </TableHeader>
        <RowTemplate>
            <td>@(string.Join(',', context.AccelData) ?? "None")</td>
            <td>@(string.Join(',', context.GyroData) ?? "None")</td>
            <td>@context.CpuTemp</td>
            <td>@(new DateTime(context.TransactionTime))</td>
        </RowTemplate>
    </GenericListTable>



@code {

    public List<ResultReply> Results { get; set; } = new List<ResultReply>();
    public List<DeviceDataModel> OtherResults { get; set; } = new List<DeviceDataModel>();

    private bool isChecked { get; set; } = false;

    public bool isRunning { get; set; } = false;

    private CancellationTokenSource CancellationToken { get; set; }

    protected override Task OnInitializedAsync()
    {
        CancellationToken = new CancellationTokenSource();
        CancellationToken.Token.Register(Cancel);
        return base.OnInitializedAsync();
    }

    public async void GetResult()
    {
        if (isChecked && !isRunning)
        {
            //Prevent multiple attempts
            isRunning = true;
            try
            {
                using (var call = vibeClient.GetResultStream(
            new ResultRequest() { ResultType = ResultType.Full, ScaleAccelerometer = false },
            cancellationToken: CancellationToken.Token))
                {
                    try
                    {
                        if (CancellationToken.IsCancellationRequested)
                            CancellationToken.Token.ThrowIfCancellationRequested();
                        while (await call.ResponseStream.MoveNext(CancellationToken.Token))
                        {
                            Results.Add(call.ResponseStream.Current);
                            StateHasChanged();
                        }
                    }
                    catch
                    {

                    }

                }
            }
            finally
            {
                isRunning = false;
            }
        }
        else if (!isChecked)
        {
            Results.Add(await vibeClient.GetResultSetAsync(
                new ResultRequest() { ResultType = ResultType.Full, ScaleAccelerometer = false }
                ));

            //Update the state when result is received
            StateHasChanged();
        }
    }

    public async void GetLotsOfData()
    {
        var data = await vibeClient.PollVibe2020DataServiceAsync(
            new DeviceDataRequest()
            { UseAccelerometer = true, UseCpuTemperature = true, UseGyroscope = true, UseRtc = true }
            );

        OtherResults = data.Items.ToList();
        StateHasChanged();
    }

    public void Cancel()
    {
        isRunning = false;
    }

}
